.skills{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cards{
    margin:20px auto;
    width:auto;
    height:auto;
    display:grid;
    /* grid-template-columns: repeat(4,200px);
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px; */
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 1rem;
    
}

.cards a{
    position: absolute;
    
}

.card-content:hover{
    scale: 1.1;
    transform: translateY(10px);
    transition-duration: 1s;
    
}

.cards h5{
    color: darkgrey;
}

.card-content{
    height: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    
    background: rgba(255, 255, 255, 0.027);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    transition-timing-function: ease-in-out;
    
}

@media screen and (max-width: 1024px) {
    skills{
        height: 100vh;
    }
  
    
}

